<div class="ui fixed inverted borderless menu">
	<div class="ui container">
		<div class="header item"><a href="/"><i class="code icon"></i> TMS</a></div>
		<a class="item" href="/new">Add</a>
		<a class="item" href="/update">Update</a>
		<a class="item" href="/showall">Show All</a>
		<a class="item" href="/search">Search  <i class="search icon"></i></a>
		<a href="/setting" class="right item"><i class="ui avatar settings icon">Setting</i></a>
	</div>
	<a href="/blog/profile" class="right item"><img class="ui avatar mini image "src="/IMG_20170826_153004_258.jpg" alt="not found"></a>
	
</div>