<% include ../Metadata/header %>
<div class="ui padded inverted segment container">
	<div class="ui centered padded grid">
	<%include ../Metadata/row %>
	<div class="one column row" >
		<div class="column">
			<%if(x){%>
			<label class="ui negative message">*Username and/or Password don't Match!</label>
			<%}%>
		</div>
	</div>
    <div class="four column row">
	  <form class="ui big inverted form" action="/signin" method="post">
	    <div class="fields">
	      <div class="field">
	        <label>Phone Number</label>
	        <input placeholder="7508XXXXXX" type="text" name="username">
	      </div>
	    </div>
	    <div class="fields">
	      <div class="field">
	        <label>Password</label>
	        <input placeholder="*******" type="Password" name="password">
	      </div>
	    </div>
	    <input type="submit" class="ui submit blue button" value="Sign In">
	  </form>
	  </div>
	  <%include ../Metadata/row %>
	</div>
</div>
<% include ../Metadata/footer %>