body,html{
	background-image:url(https://i.ytimg.com/vi/w5ZbqxJB66s/maxresdefault.jpg);
	background-position:center;
	height: 100%;
	width: 100%;
	padding: 100px;
	background-repeat: no-repeat;
	/*font-size: 1rem;*/
}
input{
	min-width: 150px;
}
.segment{
	opacity: 0.75;
}
.display{
	font-size: 2.5vw;
	color: white;
}
.heading{
	font-size:2vw;
	color: cyan;
}
.col{
	color: red;
}