body,html{
	background-image:url(https://i.ytimg.com/vi/w5ZbqxJB66s/maxresdefault.jpg);
	height: 100%;
	width: 100%;
	padding:50px;
	background-position:center;
	background-repeat: no-repeat;
	font-size: 0.8vw;
}
input{
	min-width:50px;
}
.segment{
	opacity: 0.75;
}
.display{
	font-size: 2vw;
	color: white;
}
.heading{
	font-size:1.5vw;
	color: cyan;
}
.col{
	color: red;
}